<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO 1</title>
    <link rel="stylesheet" href="../static/StylesLogin.css">
</head>
<body>
    {%if message%}
        {{message | safe}}
    {%endif%}
    
    <form action="/admin" class="form-box" method="POST">
        <h1 class="form-title">Administrador</h1>
        <h2 class="form-title">Ingresar</h2>
        <input name =  "user" required type="text" placeholder="Usuario">
        <input name = "pwduser" required type="password" placeholder="Clave">
        <input type = "submit" value = "submit" class="btn" />
        
    </form>
</body>
</html>