<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Software</title>
    <link rel="stylesheet" href="../static/estilosNosotros.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scrpt2.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>

    <header class="header">
        <div class="container logo-nav-container" style="z-index: 100000000;">
            <a href="#" class="logo">Romma Consulting</a>
            <span class="menu-icon">Ver Menu</span>
            <nav class="navigation">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="#">Prestamos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Prestamos Personales</a>
                            <a class="dropdown-item" href="#">Prestamos ...</a>
                            <a class="dropdown-item" href="#">Prestamos ..1</a>
                        </div>
                </ul>
            </nav>
        </div>

    </header>
    <div class="img">
        <div class="img-header">
            <div class="welcome">
                <h1>¿Quienes somos?</h1>
            </div>
        </div>
        <main>
            <section class="acerca-de">
                <div class="info-container">
                    <h1>Mision</h1>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Vitae congue mauris rhoncus
                            aenean vel. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
                            Malesuada nunc vel risus commodo. Dolor magna eget est lorem ipsum dolor sit amet. Et
                            malesuada fames ac turpis egestas maecenas pharetra. Bibendum enim facilisis gravida neque
                            convallis a cras semper. Purus ut faucibus pulvinar elementum integer. Ut ornare lectus sit
                            amet est placerat in egestas erat. In aliquam sem fringilla ut. Ornare quam viverra orci
                            sagittis eu volutpat. Ultricies lacus sed turpis tincidunt id aliquet. Vestibulum mattis
                            ullamcorper velit sed ullamcorper morbi tincidunt ornare. Vel pharetra vel turpis nunc.</p>
                    </div>
                    <h1>Vision</h1>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Vitae congue mauris rhoncus
                            aenean vel. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
                            Malesuada nunc vel risus commodo. Dolor magna eget est lorem ipsum dolor sit amet. Et
                            malesuada fames ac turpis egestas maecenas pharetra. Bibendum enim facilisis gravida neque
                            convallis a cras semper. Purus ut faucibus pulvinar elementum integer. Ut ornare lectus sit
                            amet est placerat in egestas erat. In aliquam sem fringilla ut. Ornare quam viverra orci
                            sagittis eu volutpat. Ultricies lacus sed turpis tincidunt id aliquet. Vestibulum mattis
                            ullamcorper velit sed ullamcorper morbi tincidunt ornare. Vel pharetra vel turpis nunc.</p>
                    </div>
                </div>
            </section>
        </main>
    </div>




</body>

<footer class="bg-dark text-center text-white" style="margin-top: 20px;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" placeholder="Email Address" />

                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>


</html>